body {
    background-color: antiquewhite;
}

p {
    font-size: 40px;
    text-align: center;
}
a {
    text-decoration: none;
}
main {
    margin: 0 auto;
    max-width: 1200px;
}
.bg-white { 
    background-color: #12475c;
}
.bg-blue {
    background-color: #28286db7;
}
.menu{
    background-color: #e68686;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 1px solid #324147a4;
}
.header-content {
    align-items: center;
    display: flex;
    justify-content: center;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu li a { 
    display: block;
    padding: 0.6rem;
    font-size: 1.3rem;
    position: relative;
}
.title-content {
    font-size: 140px;
    text-align: center;
}
.sector{
    display: flex;
}
.section{
    min-height: 100vh;
}